html, body{
    max-width: 100%;
    overflow-x: hidden;
}

/* bg colors */

.yellow-text{
    color: #f0c419;
}

.white-text {
    color: #ffffff;
}

.orange-red{
    background: #e74c3c;
}
.yellow{
    background: #f0c419;
}

.light-green{
    background: #1ab799;
}

.light-blue{
    background: #3595d2;
}

.img-circle {
    border-radius: 50%;
}

.rounded-shadow{
    border-radius: 20%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.yellow-star{
    color:#f0c419;
    font-size:1.5em !important;
}

.black-white{
    color:#fff !important;
    background-color:#000 !important;
}

.apple-grey{
    background-color: #b7b7b7;
}



.col-centered{
    float: none;
    margin: 0 auto;
}

.large-p{
    font-size:1.5em !important;
}

.device-icon{
    font-size: 1.7em !important;
    padding-right: .5em;

}

header img, header nav {
    display: inline-block;
    vertical-align: middle;
}

.app-bg {
    display: block;
    width: 90px;
    height: 90px;
    background: #fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.boxing{
    background-image: url(/images/boxing.png);
}

.cricket{
    background-image: url(/images/cricket.png);
}

.football{
    background-image: url(/images/football.png);
}

.golf{
    background-image: url(/images/golf.png);
}

.formula1{
    background-image: url(/images/wheel.png);
}

.horse{
    background-image: url(/images/horse_betting.png);
}

.rugby{
    background-image: url(/images/rugby.png);
}

.snooker{
    background-image: url(/images/snooker.png);
}

.ufc{
    background-image: url(/images/ufc.png);
}


.big-caution{
    font-size: 3em;
    padding-right: 15px;
}

.boxed-border {
    border: 3px solid white;
    padding:15px;
}

.pad-bottom{
    padding-bottom:10px;
}
.margin-top{
    padding-bottom:30px;
}

.question{
/*padding-bottom:4px;*/
font-weight:700;
}

.question::first-letter{
    padding:0 15px 0 3px;
    font-size:2em;
    font-weight:600;
}

/* navigation */

#navigation .navbar {
    background: #fff;
    padding: 0;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    font-weight: 400;
    border-bottom: 1px solid #898989;
}

#navigation .navbar-brand img {
    height: 65px;
    top: -15px;
    position: relative;
}

@media (max-width: 1000px) {
   #navigation .navbar-brand img {
        height: 24px;
    }
}

#navigation .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
    color: #282828;
    border: 0;
}

#navigation .navbar-default .navbar-nav > .active {
    color: #282828;
    background: none;
 }
#navigation .navbar-default .navbar-nav > .active > a {
    color: #282828 !important;
    background: none;
}
#navigation .navbar-default .navbar-nav > .active > a:hover,
#navigation .navbar-default .navbar-nav > .active > a:focus {
    color: #b7b7b7;
    background: none;
 }

#navigation .navbar-default .navbar-nav > li {
    padding: 10px 0;
}

#navigation .navbar-default .navbar-nav > li > a {
    color: #282828 !important;
    background: none;
}
#navigation .navbar-default .navbar-nav > li > a:hover,
#navigation .navbar-default .navbar-nav > li > a:focus {
    color: #a2a2a2 !important;
    background: none;
 }

 /* end navigation */

/* intro 2 */
#intro2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#86cdf9+0,3498db+100 */
    background: #86cdf9; /* Old browsers */
    background: -moz-linear-gradient(top,  #86cdf9 0%, #3498db 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #86cdf9 0%,#3498db 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #86cdf9 0%,#3498db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86cdf9', endColorstr='#3498db',GradientType=0 ); /* IE6-9 */
    padding: 80px 0;
}

#intro2 img {
    max-width: 100%;
}

#intro2 h1 {
    color: #fff;
    font-size: 5em;
    font-weight: 700;
}


#intro2 p {
    color: #fff;
    margin-top: 20px;
}

#intro2 .download {
    margin-top: 60px;
}

@media (max-width: 968px) {
    #intro2 h3 {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
    }

    #intro2 .download img {
        margin-bottom: 10px;
    }
}

/* end intro */

/* content 12 */
#content12 .row{
    margin: 0;
    padding: 0;
}

#content12 img{
    padding-right: 10px;
}


#content12 .content-center {
    padding: 30px;
    height: 420px;
}

#content12 .content-center h3 {
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
}

#content12 .content-center p {
    color: #fff;
    font-size: 12px;
}

#content12 .content-right {
    padding: 30px;
    height: 300px;
    overflow: hidden;
}

#content12 .content-right h3 {
    margin: 20px 0 20px 0;
    line-height: 40px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}

#content12 .content-right p {
    color: #fff;
    font-size: 12px;
}

@media (min-width: 0px) and (max-width: 481px)  {
    #content12 .content-center, #content12 .content-right {
        height: auto;
    }
}


/* review */

.review{
    color:#fff;
    padding:40px;
}

.review h2{
    font-size:6em;
    font-weight: 700;
}

.review i{
    font-size:6em;
    font-weight: 700;
}

/* content5 */
.content5 {
    padding: 20px 0;
}

.content5 .content {
    background: #282828;
    width: 100%;
    padding: 50px 30px;
    display: block;
    background-size: cover;
    background-position: center center;
}

.content5 .content:hover {
    background: transparent;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.content5 h3 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.content5 p {
    font-size: 12px;
    color: #898989;
}

.content5 .fa {
    font-size: 28px;
    color: #e74c3c;
}

.content5 a {
    color: #e74c3c;
    text-transform: uppercase;
    text-decoration: none;
}

.content5 a:hover, #content5 a:focus {
    color: #e74c3c;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.content5 .content5App .col-md-3 .content{
    height: 650px;
}

.content5 .content5App .col-md-5ths .content{
    height: 900px;
}

.content5 .content5AppLast .col-md-3 .content{
    height: 750px;
}


.content5 .content5Timeline .col-md-3 .content{
    height: 800px;
}


/* content8 */
#content8 {
    padding: 40px 0;
}

#content8 .icon .fa {
    float: left;
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 15px;
    font-size: 24px;
    text-align: center;
    min-width: 60px;
}

#content8 .large {
    font-size: 72px !important;
}

#content8 ul {
    list-style: none;
}

#content8 .content {
    overflow: hidden;
}

#content8 span.blue {
    color: #3498db;
}


#content8 p {
    overflow: hidden;
    font-size: 12px;
    padding: 0 25px;
}

#content8 h3 {
    text-transform: uppercase;
    margin-top: 0;
}

#content8 h3.title {
    text-transform: uppercase;
    margin-top: 0;
    padding: 0 25px;
    font-size: 22px;
    overflow: hidden;
}

#content8 h6 {
    text-transform: uppercase;
    color: #3498db;
    margin-bottom: 25px;
}

@media (min-width: 0px) and (max-width: 481px)  {
    #content8 .icon .fa {
        float: none;
        margin: 0 auto 10px auto;
        display: block;
    }
}

/*comment_box*/
.facebook-share-box {
    width: 100%;
    margin-top:50px;
}
.facebook-share-box .share {
    -webkit-transition: 0.1s ease-out height;
    -moz-transition: 0.1s ease-out height;
    -ms-transition: 0.1s ease-out height;
    -o-transition: 0.1s ease-out height;
    transition: 0.1s ease-out height;
    clear: both;
    background: white;
    border: 2px solid #dddddd;
    margin-bottom: 10px;
    position: relative;
}

.facebook-share-box .share .arrow {
    background: url(arrow.png) no-repeat #dddddd;
    position: absolute;
    width: 14px;
    height: 10px;
    left: 4px;
    display: inline;
    top: -10px;
    -webkit-transition: 0.3s ease-out all;
    -moz-transition: 0.3s ease-out all;
    -ms-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
}

.facebook-share-box .post-types li a {
    color: #085083;
    text-decoration: none;
}

.facebook-share-box .post-types li a.active {
    color: #404040;
}

.facebook-share-box .post-types {
    padding-left: 5px;
}

.facebook-share-box ul {
    list-style: none;
    margin-bottom: 9px;
}

.facebook-share-box .post-types li {
    display: inline;
    margin-right: 10px;
}

.message {
    border-radius: 0;
    border: none;
}
.panel {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.privacy-dropdown {
    width: 100px;
}

/* content4 */
#content4 {
    padding: 40px 0;
}

#content4 .feautures-box {
    padding: 15px 20px;
    background: #f5f5f5;
    margin-bottom: 25px;
    height:175px;
}

#content4 .feautures-box:hover {
    background: #62b151;
    color: #fff;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

#content4 .feautures-box:hover > .icon {
    background: #fff;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

#content4 .feautures-box:hover > .icon span {
    color: #282828;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

#content4 .feautures-box:hover > p {
    color: #fff;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

#content4 .feautures-box .icon {
    width: 80px;
    height: 80px;
    background: #282828;
    border-radius: 80px;
    float: left;
    margin-right: 20px;
    text-align: center;
    line-height: 80px;
}

#content4 .feautures-box .icon span {
    font-size: 40px;
    color: #fff;
}

#content4 h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

#content4 p {
    font-size: 12px;
    font-weight: 200;
    color: #898989;
    overflow: hidden;
    padding:0 0;
}



/* content14 */
.content14.legal{
    margin-top: 30px;
}


.content14.legal .image{
    text-align: center;
}


.content14.legal .image img{
    width: 500px;
}

.content14 .row {
    margin: 0;
    padding: 0;
}

.content14 .image img {
    width: 100%;
}


.content14 .col-lg-12.nopaddingnomargin img{
    float: right;
    margin: auto 15px;
}

.content14 .content {
    padding: 80px;
    padding-top: 0;
}

.content14 h3 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}

.content14 p {
    font-size: 12px;
}

/* content17 */
#content17 .row {
    margin: 0;
    padding: 0;
    position: relative !important;
}

#content17 #warning{
    margin-top: 50px;
}

#content17 .content-top {
    padding: 10px 25px;
    height: 40%;
    color: #fff;
}

#content17 .content-top h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 24px;
    text-transform: uppercase;
}

#content17 .content-top p {
    font-size: 12px;
}

#content17 .content {
    padding: 25px;
    border: 1px solid #ededed;
    height: 410px;
    overflow: hidden;
}

#content17 .col-md-6 .content {
    height: 300px;
}

@media only screen and (max-width : 992px) {
 #content17 .col-md-6 .content,
 #content17 .content,
 #content4 .feautures-box,
 .content5 .content5App .col-md-3 .content,
 .content5 .content5App .col-md-5ths .content,
 .content5 .content5AppLast .col-md-3 .content,
 .content5 .content5Timeline .col-md-3 .content,
 #content12 .content-center {
   height: auto !important;
 }
}

#content17 .content .icon {
    float: left;
    height: 100px;
    margin-right: 15px;
}

#content17 .content .icon .fa {
    font-size: 38px;
}

#content17 .content h3 {
    font-size: 22px;
    text-transform: uppercase;
    overflow: hidden;
    margin: 0;
}

#content17 .content p {
    font-size: 12px;
    overflow: hidden;
}


/* services1 */
.services1 {
    background-color: #282828;
    padding: 40px 0;
    border-top: 1px solid #393939;
    border-bottom: 1px solid #393939;
}

.services1 .service-box {
    padding: 30px 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-top: 20px;
}


.services1 .col-md-3 .service-box{
    height: 1100px;
    position: relative
}

.services1 .col-md-4 .service-box{
    height: 1000px;

}

.services1 .col-md-6 .service-box{
    height: 650px;

}
@media only screen and (max-width : 992px) {
 .services1 .col-md-3 .service-box,
 .services1 .col-md-4 .service-box,
 .services1 .col-md-6 .service-box{
   height: auto !important;
 }
}


.services1 .service-box:hover {
    padding: 30px 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.services1 .service-box .center-block{
    text-align: center;
}

.services1 .service-box img{
    width: 90px;
}

.services1 .service-box h2 {
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}

.services1 .service-box p {
    text-align: center;
    color: #b7b7b7;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 30px;
}

@media (min-width: 1024px){
    .services1 .service-box .include{
        padding-left: 35px;
    }

    .services1 .col-md-6 .service-box  .include{
        padding-left: 35%;
    }
}

.services1 .service-box .include p {
    text-align: initial;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 5px;
}

.services1 .service-box .include .fa {
    font-size: 24px;
    font-weight: 300;
}

/* title1 */
.title1 {
    padding: 40px 10px;
}

.title1 h1 {
    text-align: center;
    font-size: 24px;
    position: relative;
    margin: 0;
}

.title1 h1::after {
    content: "";
    display: block;
    height: 2px;
    width: 60px;
    background-color: #62b151;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -30px;
}

.title1 h1::before {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background-color: #62b151;
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -20px;
}

.title1 p {
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}


.col-md-5ths{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

#footer1 ul.social{
    padding: 30px 0;
}

#footer1 ul.social li{
    list-style: none;
    display: inline-block;
    margin: auto 5px;
}

#footer1 ul.social li.facebook a{
    color: #3b5998;
}

#footer1 ul.social li.twitter a{
    color: #00acee;
}

#footer1 ul.social li.google a{
    color: #ea4335;
}

@media only screen and (max-device-width: 760px) {
		div.service-box {
			height: 500px;
		}}
.footer_hr{
  border-top: 1px solid #312727 !important;
  margin: 20px inherit;
  width: 100%;
  height:1px;}
section#footer-rights1{
  letter-spacing: 1px
}
.service-box .service_box_wrapper{
  vertical-align: middle;
  position: relative;
}
.content.widen_content{

  padding:10px 25px;
}
#content4 p.add_margin{
  padding:0px 20px;
}
div.gaming_flex
{
  display: flex;
  flex-wrap: wrap;
}
div.gaming_flex a{
  margin: 5px
}
