/* content1 */
.content1 {
	background-color: #fff;
	background: url(../images/green-dots.png);
  	background-repeat: repeat;
}

.content1 .bg-col1 {
  	padding: 40px 20px 40px 80px;
	min-height: 300px;
}

.content1 .bg-col2 {
  	background: url(../images/content1.jpg);
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	padding: 40px 0;
	height: 300px;
}

.content1 h2 {
	color: #fff;
	font-size: 22px;
}

.content1 p {
	color: #fff;
	font-size: 12px;
}

/* content2 */
.content2 {
	background-color: #335695;
	padding: 40px 0;
}

.content2 h1 {
	text-align: center;
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
	margin-top: 0;
}

.content2 h2 {
	color: #fff;
	font-size: 22px;
}

.content2 p {
	color: #fff;
	font-size: 12px;
}

.content2 p:first-child {
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
	border-left: 2px solid #fff;
}

/* content3 */
#content3 {
	background-color: #282828;
	padding: 80px 0;
}

#content3 h3 {
	margin-top: 0;
	color: #fff;
	text-align: center;
}

#content3 .form-control {
	background-color: #393939;
	border: 1px solid #898989;
	width: 60%;
	border-radius: 2px;
	margin: 0 auto;
}

#content3 .form-subscribe {
	position: relative;
}

#content3 .btn-default-green-tiny {
	position: absolute;
	top: 2px;
	right: 20%;
	margin-right: 2px;
}

@media (min-width: 0px) and (max-width: 481px)  {
	#content3 {
		padding-bottom: 125px;
	}
	#content3 .btn-default-green-tiny {
		position: absolute;
		top: 52px;
		margin: 0 auto;
		width: 60%;
	}
}
/* content4 */
#content4 {
	padding: 40px 0;
}

#content4 .feautures-box {
	padding: 15px 20px;
	background: #f5f5f5;
	margin-bottom: 25px;
}

#content4 .feautures-box:hover {
	background: #62b151;
	color: #fff;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

#content4 .feautures-box:hover > .icon {
	background: #fff;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

#content4 .feautures-box:hover > .icon span {
	color: #282828;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

#content4 .feautures-box:hover > p {
	color: #fff;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

#content4 .feautures-box .icon {
	width: 80px;
	height: 80px;
	background: #282828;
	border-radius: 80px;
	float: left;
	margin-right: 20px;
	text-align: center;
	line-height: 80px;
}

#content4 .feautures-box .icon span {
	font-size: 40px;
	color: #fff;
}

#content4 h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
}

#content4 p {
	font-size: 12px;
	font-weight: 200;
	color: #898989;
	overflow: hidden;
}

/* content5 */
#content5 {
	padding: 20px 0;
}

#content5 .content {
	background: #282828;
	width: 100%;
	padding: 100px 30px;
    display: block;
    background-size: cover;
    background-position: center center;
}

#content5 .content:hover {
	background: transparent;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

#content5 h3 {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}

#content5 p {
	font-size: 12px;
	color: #898989;
}

#content5 .fa {
	font-size: 28px;
	color: #e74c3c;
}

#content5 a {
	color: #e74c3c;
	text-transform: uppercase;
	text-decoration: none;
}

#content5 a:hover, #content5 a:focus {
	color: #e74c3c;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

/* content6 */
#content6 .row {
	margin: 0;
}

#content6 .content {
	height: 100%;
	min-height: 100px;
    display: block;
    background-size: cover;
    background-position: center center;
}

#content6 .content .fa {
	font-size: 32px;
	color: #fff;
	float: left;
}

#content6 .content .icon {
	padding: 15px;
	background: rgba(40, 40, 40, 0.1);
}

#content6 .content .icon h3 {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	margin: 6px 0 6px 50px;
}

#content6 .orange {
	background-color: rgba(231, 76, 60, 0.8) !important;
}

#content6 .yellow {
	background-color: rgba(233, 240, 64, 0.8) !important;
}

#content6 .green {
	background-color: rgba(98, 177, 81, 0.8) !important;
}

#content6 .blue {
	background-color: rgba(52, 152, 219, 0.8) !important;
}

#content6 p {
	font-size: 12px;
	color: #fff;
	padding: 15px;
	margin: 15px 0;
}

#content6 a {
	font-size: 11px;
	color: #fff;
	text-decoration: none;
	padding: 0 0 20px 15px;
	display: block;
}

#content6 a:hover, #content6 a:focus {
	color: #fff;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

/* content7 */
#content7 .row {
	margin: 0;
}

#content7 .content {
	height: 100%;
	min-height: 100px;
    display: block;
    background-size: cover;
    background-position: center center;
}

#content7 .content .fa {
	font-size: 32px;
	color: #fff;
	float: left;
}

#content7 .content .icon {
	padding: 15px;
	background: rgba(40, 40, 40, 0.1);
}

#content7 .content .icon h3 {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	margin: 6px 0 6px 50px;
}

#content7 .blue {
	background-color: rgba(52, 152, 219, 0.8) !important;
}

#content7 p {
	font-size: 12px;
	color: #fff;
	padding: 15px;
	margin: 15px 0;
}

#content7 a {
	font-size: 11px;
	color: #fff;
	text-decoration: none;
	padding: 0 0 20px 15px;
	display: block;
}

#content7 a:hover, #content7 a:focus {
	color: #fff;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

/* content8 */
#content8 {
	padding: 40px 0;
}

#content8 .icon .fa {
	float: left;
	background-color: #f5f5f5;
	border-radius: 2px;
	padding: 15px;
	font-size: 24px;
	text-align: center;
	min-width: 60px;
}

#content8 .large {
	font-size: 72px !important;
}

#content8 ul {
	list-style: none;
}

#content8 .content {
	overflow: hidden;
}

#content8 span.blue {
	color: #3498db;
}


#content8 p {
	overflow: hidden;
	font-size: 12px;
	padding: 0 25px;
}

#content8 h3 {
	text-transform: uppercase;
	margin-top: 0;
}

#content8 h3.title {
	text-transform: uppercase;
	margin-top: 0;
	padding: 0 25px;
	font-size: 22px;
	overflow: hidden;
}

#content8 h6 {
	text-transform: uppercase;
	color: #3498db;
	margin-bottom: 25px;
}

@media (min-width: 0px) and (max-width: 481px)  {
	#content8 .icon .fa {
		float: none;
		margin: 0 auto 10px auto;
		display: block;
	}
}

/* content9 */
#content9 {
	padding: 0;
}

#content9 .row {
	padding: 0;
	margin: 0;
}

#content9 .image {
	width: 100%;
	height: 250px;
	background-position: center center;
	background-size: cover;
	opacity: 0.6;
}

#content9 h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
}

#content9 p {
	text-align: center;
	font-size: 12px;
}

#content9 .content {
	border: 1px solid #f5f5f5;
	border-bottom: 2px solid #f5f5f5;
	padding: 0 30px;
}

#content9 a {
	color: #e74c3c;
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 20px;
}

/* content10 */
#content10 {
	padding: 40px;
}

#content10 .partner-logo {
    height: 80px;
}

#content10 .partner-logo img {
    height: 100%;
    width: 100%;
}

@media (max-width: 968px) {
	#content10 .partner-logo img {
    	height: auto;
    	width: auto;
	}
}

/* content11 */
#content11 {
	background: #e74c3c;
	padding: 20px 0;
}

#content11 .icon {
	float: left;
}

#content11 .fa {
	color: #fff;
	font-size: 32px;
	margin-right: 15px;
	line-height: 48px;
}

#content11 p {
	font-size: 12px;
	color: #fff;
	overflow: hidden;
	margin-bottom: 0;
}

#content11 h3 {
	margin: 0;
	font-size: 24px;
	height: 28px;
	color: #fff;
	overflow: hidden;
}

#content11 .form-control {
	background: #fff;
	border: 1px solid #f5f5f5;
	border-radius: 2px;
}

#content11 .btn-default-dark-tiny {
	position: absolute;
	top: 0;
	right: 15px;
	padding: 10px 25px;
	text-transform: uppercase;
}

/* content12 */
#content12 .row{
	margin: 0;
	padding: 0;
}

#content12 img{
	width: 100%;
	height: 300px;
}

#content12 .content-center {
	background: #e74c3c;
	padding: 30px;
	height: 300px;
	overflow: hidden;
}

#content12 .content-center h3 {
	margin: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 24px;
}

#content12 .content-center p {
	color: #fff;
	font-size: 12px;
}

#content12 .content-right {
	background: #282828;
	padding: 30px;
	height: 300px;
	overflow: hidden;
}

#content12 .content-right h3 {
	margin: 20px 0 20px 0;
	line-height: 40px;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
}

#content12 .content-right p {
	color: #fff;
	font-size: 12px;
}

@media (min-width: 0px) and (max-width: 481px)  {
	#content12 .content-center, #content12 .content-right {
		height: auto;
	}
}

/* content13 */
#content13 {
	padding: 80px 0;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
}

#content13 h4 {
	margin: 0;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}

#content13 h3 {
	margin: 10px 0;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
}

#content13 p {
	margin: 20px 0;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
}

#content13 .image {
	width: 100%;
	position: absolute;
	top: 123px;
}

#content13 .image img {
	width: 100%;
	display: block;
	max-width: 400px;
	float: right;
}

/* content14 */
#content14 .row {
	margin: 0;
	padding: 0;
}

#content14 .image img {
	width: 100%;
}

#content14 .content {
	padding: 80px;
}

#content14 h3 {
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
}

#content14 p {
	font-size: 12px;
}

/* content16 */
#content16 {
	background-color: #fff;
	background: url(../images/blue-dots.png);
  	background-repeat: repeat;
}

#content16 .bg-col1 {
  	padding: 40px 20px 40px 80px;
	min-height: 300px;
}

#content16 .bg-col3 {
  	padding: 40px 80px 40px 20px;
	min-height: 300px;
}

#content16 .bg-col2 {
  	background: url(../images/content1.jpg);
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	padding: 40px 0;
	height: 300px;
}

#content16 h2 {
	color: #fff;
	font-size: 22px;
}

#content16 p {
	color: #fff;
	font-size: 12px;
}

@media (min-width: 0px) and (max-width: 481px)  {
	#content16 .bg-col1 {
		padding: 40px 20px 40px 20px;
		min-height: 300px;
	}

	#content16 .bg-col3 {
		padding: 40px 20px 40px 20px;
		min-height: 300px;
	}
}

/* content17 */
#content17 .row {
	margin: 0;
	padding: 0;
	position: relative !important;
}

#content17 .content-top {
	padding: 10px 25px;
	background: #62b151;
	height: 40%;
	color: #fff;
}

#content17 .content-top h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 24px;
	text-transform: uppercase;
}

#content17 .content-top p {
	font-size: 12px;
}

#content17 .content {
	padding: 25px;
	border: 1px solid #ededed;
	height: 30%;
	overflow: hidden;
}

#content17 .content .icon {
	float: left;
	height: 100px;
	margin-right: 15px;
}

#content17 .content .icon .fa {
	color: #62b151;
	font-size: 38px;
}

#content17 .content h3 {
	font-size: 22px;
	text-transform: uppercase;
	overflow: hidden;
	margin: 0;
}

#content17 .content p {
	font-size: 12px;
	overflow: hidden;
}

/* content18 */
#content18 {
	padding: 80px 0;
	background: #f5f5f5;
}

#content18 .image img {
	width: 100%;
}

#content18 .title h4 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 60px;
}

#content18 .icon {
	width: 70px;
	height: 70px;
	border-radius: 150px;
	border: 1px solid #3498db;
	float: left;
	margin-right: 20px;
}

#content18 .icon .fa {
	font-size: 36px;
	margin-top: 18px;
	margin-left: 16px;
	text-align: center;
	color: #3498db;
}

#content18 .content {
	padding-right: 10px;
	margin-top: 40px;
	cursor: pointer;
}

#content18 .content p {
	overflow: hidden;
}

#content18 .content h6 {
	text-transform: uppercase;
	overflow: hidden;
	font-size: 14px;
	margin-top: 0;
}

#content18 .content:hover .fa {
	color: #fff;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

#content18 .content:hover .icon {
	background-color: #3498db;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

@media (min-width: 0px) and (max-width: 968px)  {
	#content18 .image img {
		width: 40%;
		display: block;
		margin: 0 auto;
	}
}
/* content19 */
#content19 {
	padding: 40px 0;
}

#content19 .title h2 {
	margin: 0;
	font-size: 24px;
}

#content19 .title p {
	margin: 0;
	font-size: 12px;
	color: #3498db;
}

#content19 p {
	font-size: 14px;
}

#content19 .departments-box {
	padding: 10px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}

#content19 .departments-box .fa{
	color: #3498db;
	font-size: 82px;
}

#content19 .departments-box h4{
	margin: 10px 0;
	font-weight: 400;
	color: #282828;
}

#content19 .departments-box:hover {
	background: rgba(50, 184, 218, 0.1);
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}

#content19 .departments-box:hover > h4{
	color: #3498db;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

/* content20 */
#content20 {
	padding: 40px 0;
}

#content20 h2 {
	font-size: 18px;
	margin-bottom: 10px;
}

#content20 p {
	margin: 20px 0;
	font-size: 12px;
}

#content20 .services {
	position: relative;
}

#content20 .service-icon {
	float: left;
	margin-right: 40px;
	height: 75px;
	width: 75px;
	line-height: 75px;
	text-align: center;
}

#content20 .service-icon .fa {
	background: #fff;
	width: 36px;
	height: 34px;
	color: #3498db;
	font-size: 28px;
	line-height: 34px;
	position: absolute;
	top: 6px;
	left: 35px;
	z-index: 1;
	border-radius: 2px;
}

#content20 .service-icon::after, #content20 .service-icon::before {
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    content: "";
    position: absolute;
    z-index: 0;
}

#content20 .service-icon::before {
	top: 20px;
	left: 15px;
	width: 75px;
	height: 34px;
}

#content20 .service-icon::after {
	left: 35px;
	width: 35px;
	height: 75px;
}

#content20 .services:hover .service-icon .fa {
	background: #3498db;
	color: #fff;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

#content20 .services:hover > h2 {
	color: #3498db;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

#content20 .services:hover > .service-icon::after, #content20 .services:hover > .service-icon::before {
	background: #3498db;
	border: 1px solid #3498db;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

#content20 .services p {
	overflow: hidden;
}

#content20 .fa {
	color: #fff;
	font-size: 32px;
	margin-top: 14px;
}

/* content21 */
#content21 {
	padding: 120px 0;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
}

#content21 h3 {
	font-size: 36px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 15px;
}

#content21 h4 {
	color: #3498db;
	font-size: 36px;
}

/* content22 */
#content22 {
	padding: 40px;
	background-color: #62b151;
}

#content22 h2 {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	margin-bottom: 40px;
}

#content22 .box {
	background-color: #282828;
    padding: 20px 40px 40px 40px;
	border-radius: 4px;
	margin: 0 10px;
}

#content22 .arrow-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #282828;
	margin-left: 30px;
}

#content22 .box p {
	overflow: hidden;
	color: #fff;
	font-size: 12px;
}

#content22 .item h3 {
	color: #fff;
	margin-left: 10px;
	font-size: 18px;
}

#content22 .item h6 {
	color: #fff;
	margin-left: 10px;
	font-size: 12px;
	color: #282828;
}

#content22 .box .icon {
	float: left;
	margin-right: 20px;
}

#content22 .box .icon img {
    width: 100%;
	max-width: 120px;
}

@media (min-width: 0px) and (max-width: 481px)  {
	#content22 .box .icon {
		float: none;
		margin-right: 0;
	}
	#content22 .box .icon img {
		display: block;
		margin: 0 auto;
	}
	#content22 .box p {
		text-align: center;
	}
}
/* content23 */
#content23 {
	padding: 40px 0;
}

#content23 h3 {
	font-size: 24px;
}

#content23 p {
	font-size: 12px;
}

/* content24 */
#content24 {
	padding: 40px 0;
}

#content24 h3 {
	font-size: 24px;
	margin-top: 0;
}

#content24 p {
	font-size: 12px;
}

/* content25 */
#content25 {
	padding: 40px 0;
}

#content25 .box-large {
	height: 500px;
	background-color: #f5f5f5;
	overflow: hidden;
}

#content25 .box-large img {
	width: 100%;
	height: 500px;
}

#content25 .box-large h4 {
	color: #e74c3c;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 40px;
}

#content25 .box-large .content {
	padding: 0 20px;
}

#content25 .arrow-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #f5f5f5;
	position: absolute;
	top: 40px;
	left: 0;
	margin-left: -10px;
}

#content25 .box-small {
	height: 250px;
	overflow: hidden;
	background-color: #f5f5f5;
}

#content25 .box-small img {
	width: 100%;
	height: 250px;
}

#content25 .box-small h4 {
	color: #e74c3c;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 40px;
}

#content25 .box-small h3 {
	font-size: 16px;
	margin-top: 10px;
}

#content25 .box-small p {
	font-size: 12px;
}

#content25 .box-small .content {
	padding: 0 20px;
}

#content25 .dark {
	background: #282828;
	color: #fff !important;
}

#content25 .arrow-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #282828;
	position: absolute;
	top: 40px;
	right: 0;
	margin-right: -10px;
	z-index: 1;
}

@media (max-width: 968px) {
	#content25 {
		padding: 0;
	}

	#content25 .box-large, #content25 .box-small {
		height: auto;
	}

	#content25 .btn {
		margin-bottom: 20px;
	}
}

/* content26 */
#content26 {
	background-image: url('../images/header2.jpg');
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	position: relative;
	display: block;
	padding: 80px 0;
	min-height: 350px;
}

#content26 .overlay {
	background-color: rgba(98, 177, 81, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 80px 0;
}

#content26 h4 {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
}

#content26 h3 {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;
}

/* content27 */
#content27 {
	background-image: url('../images/header2.jpg');
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	position: relative;
	display: block;
	padding: 80px 0;
	min-height: 350px;
}

#content27 .overlay {
	background-color: rgba(231, 76, 60, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 80px 0;
}

#content27 h4 {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
}

#content27 h3 {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;
}

/* content28 */
#content28 {
	background-image: url('../images/header2.jpg');
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	position: relative;
	display: block;
	padding: 80px 0;
	min-height: 350px;
}

#content28 .overlay {
	background-color: rgba(52, 152, 219, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 80px 0;
}

#content28 h4 {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
}

#content28 h3 {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;
}

/* content29 */
#content29 {
	background-image: url(../images/content15.png);
	background-position: center center;
	background-size: cover;
	padding: 80px 0;
}

#content29 h2 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 80px;
	margin-top: 0;
	position: relative;
	text-transform: uppercase;
}

#content29 h2::after {
	content: "";
	background-color: #62b151;
	width: 40px;
	height: 4px;
	display: block;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -20px;
}

#content29 img {
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

#content29 .item {
	margin-bottom: 40px;
	cursor: pointer;
}

#content29 .item .icon {
	float: left;
}

#content29 .item .icon .fa {
	font-size: 48px;
	margin-right: 15px;
}

#content29 .item .content {
	overflow: hidden;
}

#content29 .item:hover > .icon .fa {
	color: #62b151 !important;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

#content29 .item .content h3 {
	margin: 0;
	margin-bottom: 15px;
}

#content29 .item .content p {
	font-size: 12px;
	color: #898989;
}

/* content30 */
#content30 {
	padding: 40px 0;
	text-align: center;
}

#content30 .icon img {
	margin: 0 auto;
}

/* content31 */
#content31 {
	background-image: url(../images/content15.png);
	background-position: center center;
	background-size: cover;
	padding: 80px 0;
}

#content31 img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

#content31 .title h3 {
	text-align: center;
	font-size: 24px;
	margin: 0;
	margin-bottom: 20px;
}

#content31 .title p {
	text-align: center;
	font-size: 14px;
	margin: 0;
}

#content31 .content h5 {
	text-align: center;
	margin-top: 40px;
}

#content31 .content p {
	text-align: center;
	font-size: 12px;
}

/* content32 */
#content32 {
	padding: 40px 0;
}

#content32 .phone img {
	width: 360px;
	display: block;
	margin: 0 auto;
}

#content32 .phone #phone-slider {
	display: block;
	position: absolute;
	top: 69px;
	left: 50%;
	margin-left: -142px;
	max-width: 205px;
}

#content32 .phone #phone-slider img {
	max-width: 205px;
}

#content32 h3 {
	position: relative;
}

#content32 h3::after {
	content: "";
	display: block;
	width: 40px;
	height: 2px;
	background-color: #3498db;
	position: absolute;
	top: 40px;
}

#content32 p {
	margin: 20px 0;
}

/* content33 */
#content33 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#86cdf9+0,3498db+100 */
	background: #86cdf9; /* Old browsers */
	background: -moz-linear-gradient(top,  #86cdf9 0%, #3498db 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #86cdf9 0%,#3498db 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #86cdf9 0%,#3498db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86cdf9', endColorstr='#3498db',GradientType=0 ); /* IE6-9 */
	padding: 40px 0;
}

#content33 .phone img {
	width: 360px;
	display: block;
	margin: 0 auto;
}

#content33 .phone #phone-slider {
	display: block;
	position: absolute;
	top: 69px;
	left: 50%;
	margin-left: -142px;
	max-width: 205px;
}

#content33 .phone #phone-slider img {
	max-width: 205px;
}

#content33 h3 {
	position: relative;
	color: #fff;
}

#content33 h3::after {
	content: "";
	display: block;
	width: 40px;
	height: 2px;
	background-color: #3498db;
	position: absolute;
	top: 40px;
}

#content33 p {
	margin: 20px 0;
	color: #fff;
}

/* content34 */
#content34 {
	padding: 60px 0;
	color: #282828;
}

#content34 .title {
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

#content34 .cover-image img {
	max-width: 100%;
	border-radius: 16px;
	margin: 40px 0;
}

#content34 .icon {
	float: left;
	height: 80px;
	width: 40px;
	color: #393939;
	font-size: 36px;
	margin-right: 20px;
}

#content34 .icon .fa {
	color: #393939;
}

#content34 .after-icon {
	overflow: hidden;
}

#content34 .after-icon h4 {
	font-size: 24px;
	color: #393939;
}

#content34 .after-icon p {
	font-size: 12px;
	color: #898989;
}
