<!-- Comment Section -->
<form action="#" method="post" role="form" enctype="multipart/form-data" class="facebook-share-box">

                                  <div class="share">
                                    <div class="panel panel-default">
                                          <div class="panel-heading"><i class="fa fa-file"></i>Leave a review
                                          </div>
                                          <div class="panel-body">
                                            <div class="">
                                                <textarea name="message" cols="40" rows="10" id="status_message" class="form-control message" style="height: 62px; overflow: hidden;" placeholder="What do you think of this app"></textarea>
                                            </div>
                                          </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <div class="form-group">
                                                  <input type="submit" name="submit" value="Post" class="btn btn-primary pull-right">
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>

                                    <div id="comments" class="row">
                                        <div class="col-md-4">
                                        <img src="/images/harsha.jpg" class="img-circle"/>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="col-md-12">
                                                <p>This is a comment</p>
                                            </div>
                                            <div>
                                                <i class="fa fa-star yellow-star"></i>
                                                <i class="fa fa-star yellow-star"></i>
                                                <i class="fa fa-star yellow-star"></i>
                                                <i class="fa fa-star yellow-star"></i>
                                                <i class="fa fa-star-o yellow-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                    <div class="panel-heading text-center"><a href="#">More reviews</a>
                                        </div>
                                    </div>


                                  </div>
</form>

<!-- 4 multi color with width  -->
<div class="row">
                <div class="col-md-3 nopaddingnomargin">
                <div class="content-center yellow">
                        <h3 class="editContent">Top Betting Android Apps</h3>
                        <p class="editContent">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                        <p class="editContent">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                        <p class="editContent">The generated Lorem Ipsum is therefore always free from repetition.</p>
                    </div>
                </div>
                <div class="col-md-3 nopaddingnomargin">
                <div class="content-center light-blue">
                        <h3 class="editContent">Top Betting Android Apps</h3>
                        <p class="editContent">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                        <p class="editContent">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                        <p class="editContent">The generated Lorem Ipsum is therefore always free from repetition.</p>
                    </div>
                </div>
                <div class="col-md-3 nopaddingnomargin">
                <div class="content-center light-green">
                        <h3 class="editContent">Top Betting Android Apps</h3>
                        <p class="editContent">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                        <p class="editContent">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                        <p class="editContent">The generated Lorem Ipsum is therefore always free from repetition.</p>
                    </div>
                </div>
                <div class="col-md-3 nopaddingnomargin">
                <div class="content-center orange-red">
                        <h3 class="editContent">Top Betting Android Apps</h3>
                        <p class="editContent">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                        <p class="editContent">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                        <p class="editContent">The generated Lorem Ipsum is therefore always free from repetition.</p>
                    </div>
                </div>
</div>

<!-- Title with page break -->
<div id="title1">
          <h1 class="editContent"><span style="color: inherit; font-family: inherit;">Title Example</span><br></h1>
          <p class="editContent">We provide best drag and drop bootstrap theme.</p>
        </div>
